<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/bs/css/bootstrap.css">
    <script src="/static/js/jquery-3.1.1.js"></script>
    <script src="/static/bs/js/bootstrap.js"></script>
    <link rel="stylesheet" href="/static/css/index.css">

</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand title" href="#">device management system</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/stark/app01/host/">host_list <span class="sr-only">(current)</span></a></li>
                <li><a href="/stark/app01/user/">user_list</a></li>
                <li><a href="/stark/app01/role/">role_list</a></li>
                <li><a href="/stark/app01/switch/">switch_list</a></li>
                <li><a href="/stark/app01/storage_port/">storage_port_list</a></li>
                <li><a href="/stark/app01/storage/">storage_list</a></li>
                <li><a href="/stark/app01/switch_port/">switch_port_list</a></li>

            </ul>

            <ul class="nav navbar-nav navbar-right">

                    <li><a href="#">{{ request.user.username }}</a></li>
                    <li><a href="/logout/">logout</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">修改密码</a></li>
                            <li><a href="#">个人主页</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </li>

                    <li><a href="/login/">登录</a></li>
                    <li><a href="/reg/">注册</a></li>



            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>















<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-warning">
                <div class="panel-heading">文章分类</div>
                <div class="panel-body">
                      {% for item in cate_list %}
                      <p><a href="/blog/{{ username }}/cate/{{ item.0 }}">{{ item.0 }}({{ item.1 }})</a></p>
                      {% endfor %}

                </div>
            </div>

            <div class="panel panel-info">
                <div class="panel-heading">文章标签</div>
                <div class="panel-body">
                    {% for tag in tag_list %}
                    <p><a href="/blog/{{ username }}/tag/{{ tag.0 }}">{{ tag.0 }}({{ tag.1 }})</a></p>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-6">

            <div class="article_list">

                {% for article in article_list %}
                    <div class="article_item">
                        <div class="row"><h5><a href="/blog/{{ article.user.username }}">{{ article.title }}</a></h5></div>
                        <div class="row">
                            <img class="col-md-2" width="60" height="60" src="{{ article.user.avatar.url }}" alt="">
                            <p class="col-md-10 desc">{{ article.desc }}</p>
                        </div>
                        <div class="row small">
                            <span><a href="">{{ article.user.username }}</a></span>&nbsp;&nbsp;
                            <span>发布于&nbsp;{{ article.create_time|date:"Y-m-d H:i" }}</span>&nbsp;&nbsp;
                            <span class="glyphicon glyphicon-comment">评论(0)</span>&nbsp;&nbsp;
                            <span class="glyphicon glyphicon-thumbs-up">点赞(0)</span>&nbsp;&nbsp;
                        </div>
                        <hr>
                    </div>
                {% endfor %}

            </div>
            <nav class="pull-right" aria-label="Page navigation">
                <ul class="pagination">
                    <li>
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>


        </div>
        <div class="col-md-3">
            <div class="panel panel-primary">
                <div class="panel-heading">Panel heading without title</div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>

            <div class="panel panel-danger">
                <div class="panel-heading">Panel heading without title</div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>
        </div>
    </div>

</div>




</body>
</html>